.main-lostark {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 10px;
}

#lostark {
  display: flex;  
}

.main-box-title {
  height: 34px;
  line-height: 34px;
  background-color: #252a37;
  text-align: center;
  color: white;
}

.lostark_character_info {
  margin: 10px 10px;
}

.info_box, .stat_box {
  display: flex;
  margin: 4px 0;
}

.stat_box {
  justify-content: space-between;
}

.info_title {
  height: 25px;
  width: 100px;
  line-height: 25px;
  border-radius: 12px;
  background-color: #40444f;
  text-align: center;
  color: white;
}

.info_content {
  height: 25px;
  line-height: 25px;
  margin-left: 10px;
}

.image_box {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  padding: 20px 0px;
  background-color: #15181d;
}

.character_image {
  width: 80%;
  object-fit: cover;
}

.lostark_character_stat {
  margin: 10px 10px;
  padding: 10px 10px;
  background-color: #252a37;
}

.stat_title {
  width: 100%;
  height: 22px;
  text-align: center;
  color: white;
  border-bottom: 1px solid #ffc800;
}

.stat_name {
  color: #ffc800;
}

.stat_content {
  color: white;
}

.loawa_link {
  text-align: center;
  background-color: #0e1015;
  padding-top: 4px;
}

.lostark_link {
  height: 35px;
  text-align: center;
  background-color: black;
}

.lostark_link > img {
  height: 35px;
}