header {
  display: flex;
  height: 55px;
  justify-content: space-between;
  align-items: center;
  background: #252a37;
  margin-bottom: 20px;
  padding: 5px;
}

#logo {
  height: 50px;
}

.main {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 10px;
}

.main-box {
  width: 100%;
  max-width: 300px;
  margin: 0px 5px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
}